{% extends "base.html" %}
   {% load static %}    
{% block body %}

    
    <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'img/carosel1.webp' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-primary">ROG PHONE 6</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'img/carosel2.webp' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carosel3.webp' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="text-center mt-5">
      {% if cat %}
      <h1>{{cat.name}}</h1>
      <img src="{{cat.image.url}}" alt="" width="100%">
      <p>{{cat.desc}}</p>
      {% else %}
      <h1>OUR PRODUCTS</h1>
      {% endif %}
    </div>
    <div class="container ">
      <div class=" row ">
      {% for i in product %}
      <div class="col-lg mt-2">
        <div class="card " style="width: 18rem;">
          <a href="details/{{i.id}}"><img src="{{i.image.url}}" class="card-img-top" alt="..." height="200px"></a>
          <div class="card-body ">
            <h4 class="card-text text-dark text-center fw-bolder fst-italic "><button class="button-89" role="button">{{i.name}}</button></h4> 
            
            <p class="text-center fw-bolder fst-italic">Rs:{{i.price}}</p>
            <div class="d-flex justify-content-center">
              <a href="{%  url 'shop:details' i.id %}" ><button class="button-55" role="button">Details</button></a>
              <a href="{%  url 'shop:wishlist' i.id %}" class="ms-4 ">
                <!-- HTML !-->
                <button class="button-49" role="button"><span class="material-symbols-outlined">
              heart_plus
              </span></button></a>
            </div>
            </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    <div class="container px-3">
      <hr>
      {% if product.paginator.num_pages > 1 %}
      <div class="text-center">
        {% for i in product.paginator.page_range %}
        <a href="?page={{i}}" class="btn btn-secondary btn-sm {% if product.number == i %}active {% endif %}">{{i}}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  


    {% endblock %}

